{% extends 'base.html' %} {% block content %}
<div class="container text-center">
  <div class="row align-items-end">
    {% for article in articles %}

    <div class="col-4">
      <h1>{{ article.product.name }}</h1>
      <img
        src="{{ article.product.image.url }}"
        alt="article.product.name"
        style="max-width: 250px"
      />
      <p>{{ article.stock }} dans le paniers</p>
    </div>

    {% endfor %}

    <p>
      <a href="{% url 'delete-box' %}" class="btn btn-primary">Commander</a>
    </p>
  </div>
</div>
<br />
{% endblock content %}
